---
import RightArrow from "../components/icons/RightArrow.astro";
const { title, img, project } = Astro.props;
---

<a class="card w-full max-w-96 min-w-64 aspect-[4/3]" href={project}>
  <img
    class="w-full h-full object-cover object-left"
    src={img}
    width="356"
    height="266"
    alt={`Previsualización de mi app: ${title}`}
    transition:name={title}
  />
  <div
    class="absolute w-full flex justify-center items-center bottom-0 bg-black/90 p-1"
  >
    <p class="text-lg font-semibold">{title}</p>
    <RightArrow />
  </div>
</a>

<style>
  .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 10px;
    background: #212121;
    border: 2px solid #313131;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card:hover {
    box-shadow: 0 0 20px rgba(96, 10, 74, 0.8);
    border-color: #560a4b;
  }
</style>
