---
import { Image } from "astro:assets";
import React from "../images/react.svg";
import Svelte from "../images/svelte.svg";
import AstroIcon from "../images/astro_dark.svg";
import Next from "../images/nextjs.svg";
import Prisma from "../images/prisma_dark.svg";
import Docker from "../images/docker.svg";
import GitHub from "../images/git.svg";
import JavaScript from "../images/javascript.svg";
import Postgres from "../images/postgresql.svg";
import Postman from "../images/postman.svg";
import Supabase from "../images/supabase.svg";
import Tailwindcss from "../images/tailwindcss.svg";
import Typescript from "../images/typescript.svg";
import Zod from "../images/zod.svg";
---

<section class="px-4 pb-4">
  <div
    class="bg-[rgba(175,46,138,0.13)] p-2 rounded-t-md text-lg font-semibold"
  >
    Tecnologías
  </div>
  <div class="bg-black/50 rounded-b-md py-4 px-2">
    <div
      class="grid grid-cols-[repeat(auto-fit,minmax(55px,1fr))] place-items-center gap-2"
    >
      <Image src={React} alt="react icon" height={50} width={50} />
      <Image src={Svelte} alt="svelte icon" height={50} width={50} />
      <Image src={AstroIcon} alt="astro icon" height={50} width={50} />
      <Image src={Next} alt="next icon" height={50} width={50} />
      <Image src={Prisma} alt="prisma icon" height={50} width={50} />
      <Image src={Docker} alt="docker icon" height={50} width={50} />
      <Image src={GitHub} alt="github icon" height={50} width={50} />
      <Image src={JavaScript} alt="javascript icon" height={50} width={50} />
      <Image src={Postgres} alt="postgres icon" height={50} width={50} />
      <Image src={Postman} alt="postman icon" height={50} width={50} />
      <Image src={Supabase} alt="supabase icon" height={50} width={50} />
      <Image src={Tailwindcss} alt="tailwind icon" height={50} width={50} />
      <Image src={Typescript} alt="typescript icon" height={50} width={50} />
      <Image src={Zod} alt="zod icon" height={50} />
    </div>
  </div>
</section>

<style>
  img:hover {
    scale: 1.5;
  }
</style>
